# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env files
.env
.env*
server/.env

# build
dist/
build/
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# system
.vscode/
.DS_Store
.vercel

# typescript
*.tsbuildinfo